doctype html
html(lang='en')
head
meta(charset='utf-8')
title Sass @mixin multiple_color_fill
link(rel='stylesheet', href='style.css')
body
table
tr
- var elements = 30;
- for (var i = 0; i < elements; i++)
    td