doctype html
html(lang='en')
head
meta(charset='utf-8')
title Sass table cross @while
link(rel='stylesheet', href='style.css')
body
table
- var ratio = 15;
- for (var i = 0; i < ratio; i++)
    tr
    - for (var j = 0; j < ratio; j++)
    td