tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(15) {
    background: khaki;
}

tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(14) {
    background: khaki;
}

tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(13) {
    background: khaki;
}

tr:nth-child(4) td:nth-child(4),
tr:nth-child(4) td:nth-child(12) {
    background: khaki;
}

tr:nth-child(5) td:nth-child(5),
tr:nth-child(5) td:nth-child(11) {
    background: khaki;
}

tr:nth-child(6) td:nth-child(6),
tr:nth-child(6) td:nth-child(10) {
    background: khaki;
}

tr:nth-child(7) td:nth-child(7),
tr:nth-child(7) td:nth-child(9) {
    background: khaki;
}

tr:nth-child(8) td:nth-child(8),
tr:nth-child(8) td:nth-child(8) {
    background: khaki;
}

tr:nth-child(9) td:nth-child(9),
tr:nth-child(9) td:nth-child(7) {
    background: khaki;
}

tr:nth-child(10) td:nth-child(10),
tr:nth-child(10) td:nth-child(6) {
    background: khaki;
}

tr:nth-child(11) td:nth-child(11),
tr:nth-child(11) td:nth-child(5) {
    background: khaki;
}

tr:nth-child(12) td:nth-child(12),
tr:nth-child(12) td:nth-child(4) {
    background: khaki;
}

tr:nth-child(13) td:nth-child(13),
tr:nth-child(13) td:nth-child(3) {
    background: khaki;
}

tr:nth-child(14) td:nth-child(14),
tr:nth-child(14) td:nth-child(2) {
    background: khaki;
}

tr:nth-child(15) td:nth-child(15),
tr:nth-child(15) td:nth-child(1) {
    background: khaki;
}

td {
    border: 1px solid #eee;
    padding: 20px;
}

td:before {
    content: ' ';
}
